html {
  background: #F2F2F2;
}

body {
  margin: 0;
  padding: 0;
}

#forkme_banner {
  display: block;
  position: fixed;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: white;
  background: url('/assets/image/logo/github.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.top-bar {
  width: 100%;
  background-color: #2A2A2A;
  list-style: none;
}
.top-bar a:link { text-decoration:none; }
.top-bar a:visited { text-decoration:none; }
.top-bar a:hover { text-decoration:none; }
.top-bar a:active { text-decoration:none; }

.nav-bar {
  margin: 0 auto;
  max-width: 60em;
  list-style: none;
}
.nav-bar li {
  display: inline-block;
}
.nav-bar-item {
  display: inline-block;
  padding: 0.9em;
  margin: 0;
  color: white;  
  text-align: center;
  text-shadow: #0090ff;
}
.nav-bar-item p {
  margin: 0;
  font-size: 1em;
  color: rgb(180, 180, 180);
}
.nav-bar-item #nav-bar-self {
  color: white;
}