header {
  width: 100%;
  background: #DB4437;
  box-shadow: 0 0 14px rgba(0,0,0,0.7);
}

header h1 {
  margin: 0;
  padding: 0.5em 0 0.3em 10em;
  color: white;
  font-size: 3.8em;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.7);
  font-family: 'Playfair Display';
  font-weight: 300;
}

header h2 {
  margin: 0;
  padding: 0 0 1em 32em;
  color: white;
  font-size: 1.6em;
}

#main-content {
  width: 100%;
  max-width: 975px;
}

#posts-set {
  padding: 16px;
}

div {
  margin: 0 auto;
}

.post {
  background: white;
  margin: 0 0 1.4em 0;
  padding: 0.8em;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.post-date {
  margin-right: 0;
  margin-top: -1em;
  z-index: 5;
  background: orangered;
  padding: 0.01em;
  width: 9em;
  box-shadow: 0 0 14px rgba(0,0,0,0.7);
  float: right;
}
.post-date p {
  margin: 0.4em;
}

.post-content {
  
}

.post-date p {
  text-align: center;
  color: white;
  font-size: 14;
}

.post-title a {
  font-size: 1.5em;
  padding: 0.3em 0 0.3em 0.3em;
  color: black;
}

.post-sub-title p {
}

.post-excerpt p {
}

/* post-pagination */

#post-pagination p,
#post-pagination ul,
#post-pagination li,
#post-pagination a {
  display: inline;
}

#post-pagination ul {
  padding: 0;
}