body {
  margin: 0;
}

header {
  width: 100%;
  background: #FF6666;
}

.st-search-box {
  right: 31em;
  top: 1em;
  position: absolute;
}

header h1 {
  margin: 0;
  padding: 0.5em 0 0.3em 6em;
  color: white;
  font-size: 3.4em;
}

header h2 {
  margin: 0;
  padding: 0 0 1em 18em;
  color: white;
  font-size: 1.6em;
}

#main-content {
  width: 100%;
  max-width: 975px;
}

#posts-set {
  padding: 16px;
}

div {
  margin: 0 auto;
}

.post {
  background: white;
  margin: 0 0 1em 0;
  padding: 0.8em;
}

.post-title a {
  font-size: 1.5em;
  padding: 0.3em 0 0 0.3em;
}

.post-sub-title p {
  
}

.post-excerpt p {
  
}

/* link */

a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a:active {
  text-decoration:underline;
}