---
title: just a blog.
layout: index
---

<div>
  <header>
    <h1> {{ page.title }} </h1>
    
    <h2> -- {{ site.author.name }} </h2>
    
    <div class="st-search-box">
      <input class="st-default-search-input"
              type="text"
              placeholder="enter & search"></input>
    </div>
    
  </header>
</div>

<div id="main-content">
  <div id="posts-set">
    {% for p in site.posts %}
    <div class="post">
      
      <div class="post-date">
        <p>{{ p.date | date_to_long_string }}</p>
      </div>
      
      <div class="post-title">
        <a href="{{ p.url }}">{{ p.title }}</a>
      </div>
      
      {% if p.sub_title %}
      <div class="post-sub-title">
        <p>{{ p.sub_title }}</p>
        </div>
      {% endif %}
      <div class="post-excerpt">
        <p>{{ p.excerpt }}</p>
      </div>
      
      <p>tags: 
      {% for tag in p.tags %}
      <a href="../?tag={{ tag }}">{{ tag }}</a>
      {% endfor %}
      </p>
    </div>      
    {% endfor %}
  </div>
</div>