---
---

<html>
  <head>
    <meta name="viewport"content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <script src="/js/common.js"></script>
    
    <!-- swiftype -->
    {% if page %}
      {% if page.title %}
      <meta class="swiftype" name="title" data-type="string" content="{{ page.title }}" />
      {% endif %}
      {% if page.tags %}
        {% for tag in page.tags %}
          <meta class="swiftype" name="title" data-type="string" content="{{ tag }}" />
        {% endfor %}
      {% endif %}
    {% endif %}
  </head>
  <body>
    <div>
      <div class="top-bar">
        <ul class="nav-bar">
          <li>
            <a class="nav-bar-item" href="https://github.com/Cologler">
              <p id="nav-bar-self">BLOG</p>
            </a>
          </li>
          <li>
            <a class="nav-bar-item" href="/pages/video.html">
              <p>video</p>
            </a>
          </li>
          <li>
            <a class="nav-bar-item" href="https://github.com/Cologler">
              <p>about</p>
            </a>
          </li>
        </ul>
      </div>
      <a id="forkme_banner"
        href="https://github.com/Cologler">View on GitHub</a>
    </div>
    <div>
      {{ content }}
    </div>    
  </body>  
</html>