---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assets/images/logos/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" id="google-fonts-css" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400%2C400italic%2C700%2C700italic%7CNoticia+Text%3A400%2C400italic%2C700%2C700italic%7CMontserrat%3A400%2C700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/framework.css" />
    <script src="/js/common.js"></script>
    
    <!-- swiftype -->
    {% if page %}
      {% if page.title %}
      <meta class="swiftype" name="title" data-type="string" content="{{ page.title }}" />
      {% endif %}
      {% if page.tags %}
        {% for tag in page.tags %}
          <meta class="swiftype" name="title" data-type="string" content="{{ tag }}" />
        {% endfor %}
      {% endif %}
    {% endif %}
  </head>
  
  <body>
    <div>
      <div class="top-bar">
        <div>
          <ul class="nav-bar">
            <li>
              <a class="nav-bar-item" href="/">
                <p id="nav-bar-self">blog</p>
              </a>
            </li>
            <li>
              <a class="nav-bar-item" href="https://github.com/Cologler">
                <p>about</p>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="st-search-box">
          <input class="st-default-search-input"
                type="text"
                placeholder="enter & search"></input>
        </div>
      </div>
      
      <a id="forkme_banner"
        href="https://github.com/Cologler">View on GitHub</a>
    </div>
    
    <div style="height: 100%;">
      {{ content }}
    </div>
    
    {% if page.background %}
    <div id='background-div' class='background-div'>
      <img id='background-img' class='background-img' src="{{ page.background }}">
    </div>
    
    <script src="/assets/js/rainyday.min.js"></script>
    <script>
      (function() {
        var image = document.getElementById('background-img');
        image.onload = function() {
          var engine = new RainyDay({
            image: this,
            parentElement: document.getElementById('background-div')
          });
          engine.rain([ [0, 2, 200], [3, 3, 1] ], 100);
        };
      })();
    </script>
    {% endif %}
  </body>  
</html>