---
---

<html>
  <head>
    <meta name="viewport"content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div>
      <div class="top-bar">
        <div class="top-bar-item-container">
          <a class="top-bar-item"
             href="https://github.com/Cologler">
            <p>main</p>
          </a>
          <a class="top-bar-item"
             href="/pages/video.html">
            <p>video</p>
          </a>
          <a class="top-bar-item"
             href="https://github.com/Cologler">
            <p>about</p>
          </a>
        </div>
      </div>
      <a id="forkme_banner"
        href="https://github.com/Cologler">View on GitHub</a>
    </div>
    <div>
      {{ content }}
    </div>    
  </body>  
</html>